:root {
    --blue: #1c77e6;
    --yellow: #f7ca18;
    --red: #e74c3c;
    --green: #2ecc71;
    --light-wood: #e6d5a8;
    --dark-wood: #8c6f44;
    --gold: #ffd700;
    --border-color: #003430;
}

.modal {
    position: fixed;
    top: 10vh;
    left: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* backdrop-filter: blur(8px); */
}

.modal-content {
    background-size: cover;
    background-position: center;
    padding: 20px;
    border: 0px solid var(--border-color);
    border-radius: 18px;
    width: 90%;
    max-width: 550px;
    color: #fff;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5), inset 0 0 15px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    /* background blur effect */
    text-align: center;
    position: relative;
    transform: scale(0.95);
    background: rgba(0, 0, 0, 0.4);
    animation: modal-enter 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

@keyframes modal-enter {
    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.modal-content h2 {
    color: var(--gold);
    font-size: 2.5em;
    margin: 0;
    padding: 10px 0;
    text-shadow: 3px 3px 0px var(--border-color);
    border-bottom: 4px solid var(--border-color);
    margin-bottom: 20px;
}

#player-list {
    margin-top: 20px;

}

#player-list div {
    padding: 12px;
    font-size: 1.2em;
    color: var(--light-wood);
    border-bottom: 2px solid var(--border-color);
    transition: background-color 0.2s;
    border-radius: 12px;
    border: 2px solid white;
    background: rgba(255, 255, 255, 0.05);
}

#player-list .you {
    font-weight: 700;
    color: var(--yellow);
    text-shadow: 1px 1px 0px #000;
}

.countdown-timer {
    font-size: 1.8em;
    color: var(--red);
    margin-top: 15px;
    font-weight: 700;
    text-shadow: 2px 2px 0px #000;
}


.play-again-btn {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.play-again-btn:hover {
    background-color: #45a049;
}